$black: #000;
$white: #fff;
$white: #fff;

$edward: #9BABAA;
$sandyBrown: #F8A667;
$mineralGreen: #476B5D;
$rawSienna: #D47042;
$fireFly: #0B242B;

.black {
    color: $black;
}

.white {
    color: $white;
}

.edward {
    color: $edward;
}

.sandyBrown {
    color: $sandyBrown;
}

.mineralGreen{
    color: $mineralGreen;
}

.rawSienna {
    color: $rawSienna;
}

.fireFly {
    color: $fireFly;
}


.bg-black {
    background-color: $black;
}

.bg-white {
    background-color: $white;
}

.bg-edward {
    background-color: $edward;
}

.bg-sandyBrown {
    background-color: $sandyBrown;
}

.bg-mineralGreen{
    background-color: $mineralGreen;
}

.bg-rawSienna {
    background-color: $rawSienna;
}

.bg-fireFly {
    background-color: $fireFly;
}