extends ../template.pug

block content
    .juneteenth
        img(
            src="/images/Comfort-Food-Logo.png"
            class="logo juneteenth"
        )
        .copy.juneteenth
            h1 Welcome to the Gospel of the Grill live stream page.
            h3 The program will begin at 1PM PST on July 26th, 2020.
        .copy.juneteenth
            h2 Join the conversation on 
                a(href="https://www.instagram.com/comfortfoodsb/" target="_blank") Instagram
