extends ../template.pug

block content
  img(
    src="/images/Comfort-Food-Logo.png"
    class="logo"
  )
  .copy
    h1 We are a production studio <br/> operating out of Santa Barbara, California.
    h2 Visit our #[a(href="https://www.gofundme.com/f/help-brandon-keep-comfort-food-on-the-table" target="_blank") fundraising campaign on GoFundMe] to learn more about our vision and how we will be bringing it to life in 2021.
    h1 We are open to collaborate on your idea and execute it to its fullest potential.
    h2 Drop us a message 
      a(href="mailto:email@comfortfood.studio") email@comfortfood.studio