extends ../template.pug

block content
  img(
    src="/images/Comfort-Food-Logo.png"
    class="logo"
  )
  .copy
    h1 We are a mixed media studio <br/>focused on events, music, and fashion.
    h2 We operate out of Santa Barbara, California <br/> and have been in business since 2015.
    h1 We are open to collaborate on your idea and execute it to its fullest potential.
    h2 Drop us a message 
      a(href="mailto:email@comfortfood.studio") email@comfortfood.studio
      | <br/> <br/> Visit us on 
      a(href="https://www.instagram.com/comfortfoodsb/" target="_blank") Instagram
