extends ../template.pug

block content
    .juneteenth
        img(
            src="/images/Comfort-Food-Logo.png"
            class="logo juneteenth"
        )
        .copy.juneteenth
            h1 Welcome to the Juneteenth Santa Barbara Digital Diaspora After Party live stream test test. 
            h3 The program was on June 19th, 2020.
        .stream-container
            <div id="boxcast-widget-gd8vzef7w5fjwu8f4jg2"></div><script type="text/javascript" charset="utf-8">(function(d, s, c, o) {var js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];var h = (('https:' == document.location.protocol) ? 'https:' : 'http:');js.src = h + '//js.boxcast.com/v3.min.js';js.onload = function() { boxcast.noConflict()('#boxcast-widget-'+c).loadChannel(c, o); };js.charset = 'utf-8';fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'gd8vzef7w5fjwu8f4jg2', {"showTitle":0,"showDescription":0,"showHighlights":0,"showRelated":false,"defaultVideo":"next","market":"smb","showDocuments":false,"showIndex":false,"showDonations":false}));</script>
        .copy.juneteenth
            h2 Join the conversation on 
                a(href="https://www.instagram.com/juneteenthsb/" target="_blank") Instagram
